/**
 * Breadcrumb
 */
.breadcrumb-bar {
    margin-bottom: $spacer;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .breadcrumb {
        background-color: transparent;
        margin-bottom: $spacer;
        padding: 0;
    }
    .breadcrumb-additions {
        margin-bottom: $spacer;
    }
}
