.toc-checkbox {
    display: none;
}
.toc-collapse {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}
.toc-checkbox:checked ~ .toc-collapse {
    display: block;
}
.toc-toggle {
    margin: 0;
    @extend .btn;
    @extend .btn-light;
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
.toc-header {
    display: flex;
    justify-content: space-between;
}

.toc {
    a {
        position: relative;
        display: block;
        color: inherit;
        line-height: 1.25;
        padding: ($spacer / 4) 0;
        padding-right: 1.5em;
        text-decoration: none;
    }
    ul {
        padding-left: $spacer;
        list-style-type: none;
    }
    li {
        border-radius: $border-radius;
        overflow: hidden;
    }
    .toctree-expand {
        position: absolute;
        display: block;
        top: (($spacer / 4) + ($font-size-base * 1.25 / 2));
        right: 0;
        transform: translate(0, -50%);
        height: 1em;
        width: 1em;
        background-color: theme-color('light');
        border-radius: $border-radius;
        &:after,
        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
        }
        &:after {
            width: 10px;
            height: 0;
            border-top: 2px solid;
            transform: translate(-50%, -50%);
        }
        &:before {
            width: 0;
            height: 10px;
            border-left: 2px solid;
            transform: translate(-50%, -50%);
        }
    }
    .current > a {
        color: theme-color('primary');
        > .toctree-expand {
            background-color: theme-color('primary');
            color: color-yiq(theme-color('primary'));
            &:before {
                display: none;
            }
        }
    }
    > ul {
        padding-left: 0;
        .current {
            > ul {
                display: block !important;
            }
        }
    }
    > ul:not(:last-child) {
        padding-bottom: $spacer;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }
    ul.current li:not(.current) ul {
        display: none;
    }
}
.toc-title-project {
    display: block;
    font-size: 1.5em;
    line-height: 1.25;
}
.toc-search {
    margin-top: $spacer;
    margin-bottom: ($spacer * 2);
}
.toc-backref {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

/**
 * Version Selector
 */
.toc-version {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        display: inline-block;
        margin-left: .25em;
        vertical-align: middle;
        border: .25em solid transparent;
        border-bottom: none;
        border-top-color: inherit;
    }
}
.toc-version-number {
    margin-left: .25em;
    font-weight: bold;
}
.toc-version-toggle {
    margin-left: auto;
}
.toc-version-wrapper {
    margin-top: .5rem;
    border-radius: $btn-border-radius;
}
.toc-version-options {
    display: none;
    margin-top: $spacer / 2;
    margin-bottom: 0;
    border-radius: $btn-border-radius;
    overflow: hidden;
    color: color-yiq(theme-color('light'));
    background-color: theme-color('light');
    a {
        padding: $btn-padding-y $btn-padding-x;
        display: block;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: color-yiq(theme-color('primary'));
            background-color: theme-color('primary');
        }
    }
    p,
    dl,
    dd {
        display: block;
        margin: 0;
        padding: 0;
    }
    p {
        padding: $btn-padding-y $btn-padding-x;
    }
}
.toc-version-wrapper-active {
    .toc-version-options {
        display: block;
    }
    .toc-version:after {
        border: .25em solid transparent;
        border-top: none;
        border-bottom-color: inherit;
    }
}
