// ----
// Colors are matching Read the Docs
// DO NOT ADJUST
// Similar:
// - Admotion
// - Bignums
// - Horizontal Buttons
// ----
.admonition {
  background-color: theme-color-level('info', -11);
  margin: $spacer 0;
  padding: $spacer;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.hint,
  &.note {
    background-color: theme-color-level('info', -11);

    .admonition-title {
      color: color-yiq(theme-color('info'));
      background-color: theme-color('info');
    }
  }

  &.caution,
  &.warning,
  &.attention {
    background-color: theme-color-level('warning', -11);

    .admonition-title {
      color: color-yiq(theme-color('warning'));
      background-color: theme-color('warning');

      &:before {
        content: fa-content($fa-var-exclamation-triangle);
      }
    }
  }

  &.danger,
  &.error {
    background-color: theme-color-level('danger', -11);

    .admonition-title {
      color: color-yiq(theme-color('danger'));
      background-color: theme-color('danger');

      &:before {
        content: fa-content($fa-var-exclamation-triangle);
      }
    }
  }

  &.important,
  &.seealso,
  &.tip {
    background-color: theme-color-level('success', -11);

    .admonition-title {
      color: color-yiq(theme-color('success'));
      background-color: theme-color('success');
    }
  }
}

.admonition-title {
  display: block;
  padding: ($spacer / 2) $spacer;
  margin: -$spacer;
  margin-bottom: $spacer;
  color: color-yiq(theme-color('info'));
  background-color: theme-color('info');
  font-weight: $font-weight-bold;

  &:before {
    @include icon-base;
    content: fa-content($fa-var-info-circle);
  }
}

// For dark mode, use darker background colors.
body.theme-dark {
  .admonition {
    background-color: $darkmode-info;

    &.hint,
    &.note {
      background-color: $darkmode-info;
    }

    &.caution,
    &.warning,
    &.attention {
      background-color: $darkmode-warning;
    }

    &.danger,
    &.error {
      background-color: $darkmode-danger;
    }

    &.important,
    &.seealso,
    &.tip {
      background-color: $darkmode-success;
    }
  }
}
