.btn {
    display: inline-flex;
    align-items: center;
    text-align: left;
}
.btn-icon {
    &:first-child {
        margin-right: ($spacer / 2);
    }
    &:last-child {
        margin-left: ($spacer / 2);
    }
}
