.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**
 * Header
 */
.navbar-brand {
    font-size: $h3-font-size;
}

/**
 * Main
 */
.page-main {
    display: flex;
    flex-grow: 1;
}
.page-main-inner {
    display: flex;
    flex-flow: wrap column;
    max-width: 100%;
    width: map-get($container-max-widths, 'xl');
    padding: 0 ($grid-gutter-width / 2);
    margin: 0 auto;
    position: relative;
    @include media-breakpoint-up(lg) {
        flex-flow: nowrap row;
    }
}
.page-main-navigation {
    flex-grow: 0;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    padding: ($grid-gutter-width / 2);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    @include media-breakpoint-up(lg) {
        padding: ($spacer * 2) 0;
        flex-shrink: 0;
        width: 15rem;
        margin: 0;
        margin-right: $grid-gutter-width;
        padding-right: ($grid-gutter-width / 2);
        border-bottom: none;
        border-right: 1px solid rgba(0, 0, 0, .15);
    }
}
.page-main-content {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
    width: 100%;
    min-width: 0;
    flex-grow: 1;
}

// https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/80
@media (min-width: 2049px) {
    .page-main-inner {
        width: 99999px;
    }
}
