// ----
// Colors are matching Read the Docs
// DO NOT ADJUST
// Similar:
// - Admotion
// - Bignums
// - Horizontal Buttons
// ----
.admonition {
  background-color: $gray-100;
  margin: $spacer 0;
  padding: $spacer;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.hint,
  &.note {
    .admonition-title {
      color: color-yiq($info);
      background-color: $info;
    }
  }

  &.caution,
  &.warning,
  &.attention {
    .admonition-title {
      color: color-yiq($warning);
      background-color: $warning;

      &:before {
        content: fa-content($fa-var-exclamation-triangle);
      }
    }
  }

  &.danger,
  &.error {
    .admonition-title {
      color: color-yiq($danger);
      background-color: $danger;

      &:before {
        content: fa-content($fa-var-exclamation-triangle);
      }
    }
  }

  &.important,
  &.seealso,
  &.tip {
    .admonition-title {
      color: color-yiq($success);
      background-color: $success;
    }
  }
}

.admonition-title {
  display: block;
  padding: ($spacer / 2) $spacer;
  margin: -$spacer;
  margin-bottom: $spacer;
  color: color-yiq($info);
  background-color: $info;
  font-weight: $font-weight-bold;

  &:before {
    @include icon-base;
    content: fa-content($fa-var-info-circle);
  }
}

// For dark mode, use darker background colors.
body.theme-dark {
  .admonition {
    background-color: $darkmode-bg-lighter;
  }
}
