.versionadded,
.versionchanged,
.deprecated {
  margin: $spacer 0;
  padding: $spacer;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  overflow: hidden;

  > *:last-child {
    margin-bottom: 0;
  }
}

.versionmodified {
  display: block;
  padding: ($spacer / 2) $spacer;
  margin: -$spacer;
  margin-bottom: $spacer;
  font-weight: $font-weight-bold;

  &:before {
    @include icon-base;
  }
}

.versionadded {
  background-color: theme-color-level("success", -11);

  .versionmodified {
    color: color-yiq(theme-color("success"));
    background-color: theme-color("success");

    &:before {
      content: fa-content($fa-var-info-circle);
    }
  }
}

.versionchanged {
  background-color: theme-color-level("warning", -11);

  .versionmodified {
    color: color-yiq(theme-color("warning"));
    background-color: theme-color("warning");

    &:before {
      content: fa-content($fa-var-exclamation-triangle);
    }
  }
}

.deprecated {
  background-color: theme-color-level("danger", -11);

  .versionmodified {
    color: color-yiq(theme-color("danger"));
    background-color: theme-color("danger");
    border-radius: unset;
    box-shadow: unset;

    &:before {
      content: fa-content($fa-var-exclamation-triangle);
    }
  }
}

// For dark mode, use darker background colors.
body.theme-dark {
  .versionchanged {
    background-color: $darkmode-warning;
  }

  .deprecated {
    background-color: $darkmode-danger;

    // Need to override this to be the same as above, due to how the class names
    // are generated in the docs.
    .versionmodified {
      background-color: theme-color("danger");
    }
  }

  .versionadded {
    background-color: $darkmode-success;
  }
}
