@use 'sass:color';

pre {
  padding: $size-5;
  border-radius: 5px;
  font-size: 14px;
  color: $base16-base07;
  background-color: $indigo;

  .hll {
    background-color: $base16-base02;
  }

  .c {
    color: $base16-base05;
  } /* Comment */

  .c1 {
    color: $base16-base05;
  } /* Comment.Single */

  .cm {
    color: $base16-base05;
  } /* Comment.Multiline */

  .cp {
    color: $base16-base05;
  } /* Comment.Preproc */

  .cs {
    color: $base16-base05;
  } /* Comment.Special */

  .err {
    color: $base16-base08;
  } /* Error */

  .k {
    color: $base16-base0E;
  } /* Keyword */

  .kc {
    color: $base16-base0E;
  } /* Keyword.Constant */

  .kd {
    color: $base16-base0E;
  } /* Keyword.Declaration */

  .kn {
    color: $base16-base0C;
  } /* Keyword.Namespace */

  .kp {
    color: $base16-base0E;
  } /* Keyword.Pseudo */

  .kr {
    color: $base16-base0E;
  } /* Keyword.Reserved */

  .kt {
    color: $base16-base0A;
  } /* Keyword.Type */

  .l {
    color: $base16-base09;
  } /* Literal */

  .il {
    color: $base16-base09;
  } /* Literal.Number.Integer.Long */

  .ld {
    color: $base16-base08;
  } /* Literal.Date */

  .m {
    color: $base16-base0A;
  } /* Literal.Number */

  .mf {
    color: $base16-base0A;
  } /* Literal.Number.Float */

  .mh {
    color: $base16-base0A;
  } /* Literal.Number.Hex */

  .mi {
    color: $base16-base0A;
  } /* Literal.Number.Integer */

  .mo {
    color: $base16-base0A;
  } /* Literal.Number.Oct */

  .s {
    color: $base16-base0D;
  } /* Literal.String */

  .s1 {
    color: $base16-base0D;
  } /* Literal.String.Single */

  .s2 {
    color: $base16-base0D;
  } /* Literal.String.Double */

  .sb {
    color: $base16-base0D;
  } /* Literal.String.Backtick */

  .sc {
    color: $base16-base0D;
  }

  /* stylelint-disable-next-line selector-type-no-unknown, selector-class-pattern */
  literal.String.Char .sd {
    color: $base16-base04;
  } /* Literal.String.Doc */

  .se {
    color: $base16-base09;
  } /* Literal.String.Escape */

  .sh {
    color: $base16-base0D;
  } /* Literal.String.Heredoc */

  .si {
    color: $base16-base09;
  } /* Literal.String.Interpol */

  .sr {
    color: $base16-base0D;
  } /* Literal.String.Regex */

  .ss {
    color: $base16-base0D;
  } /* Literal.String.Symbol */

  .sx {
    color: $base16-base0D;
  } /* Literal.String.Other */

  .n {
    color: $base16-base07;
  } /* Name */

  .na {
    color: $base16-base0B;
  } /* Name.Attribute */

  .nb {
    color: $base16-base08;
  } /* Name.Builtin */

  .nc {
    color: $base16-base0A;
  } /* Name.Class */

  .nd {
    color: $base16-base0C;
  } /* Name.Decorator */

  .ne {
    color: $base16-base08;
  } /* Name.Exception */

  .nf {
    color: $base16-base0B;
  } /* Name.Function */

  .ni {
    color: $base16-base07;
  } /* Name.Entity */

  .nl {
    color: $base16-base07;
  } /* Name.Label */

  .nn {
    color: $base16-base0A;
  } /* Name.Namespace */

  .no {
    color: $base16-base08;
  } /* Name.Constant */

  .nt {
    color: $base16-base0C;
  } /* Name.Tag */

  .nv {
    color: $base16-base08;
  } /* Name.Variable */

  .nx {
    color: $base16-base07;
  } /* Name.Other */

  .py {
    color: $base16-base07;
  } /* Name.Property */

  .bp {
    color: $base16-base07;
  } /* Name.Builtin.Pseudo */

  .vc {
    color: $base16-base08;
  } /* Name.Variable.Class */

  .vg {
    color: $base16-base08;
  } /* Name.Variable.Global */

  .vi {
    color: $base16-base08;
  } /* Name.Variable.Instance */

  .o {
    color: $base16-base0F;
  } /* Operator */

  .p {
    color: $base16-base06;
  } /* Punctuation */

  .gd {
    color: $base16-base08;
  } /* Generic.Deleted */

  .gh {
    color: $base16-base07;
    font-weight: $font-weight-bold;
  } /* Generic.Heading */

  .gi {
    color: $base16-base0B;
  } /* Generic.Inserted */

  .gp {
    color: $base16-base04;
    font-weight: $font-weight-bold;
  } /* Generic.Prompt */

  .gu {
    color: $base16-base0C;
    font-weight: $font-weight-bold;
  } /* Generic.Subheading */

  .ow {
    color: $base16-base0C;
  } /* Operator.Word */

  .w {
    color: $base16-base07;
  } /* Text.Whitespace */

  .x {
    color: $base16-base06;
  } /* ? */

  .ge {
    font-style: italic;
  } /* Generic.Emph */

  .gs {
    font-weight: $font-weight-bold;
  } /* Generic.Strong */

  // Anchors within pre tag, e.g. from autodoc modules.
  a {
    color: $base16-base07;

    &:hover,
    &:visited:hover {
      color: color.adjust($base16-base07, $lightness: -10%);
    }

    &:visited {
      color: $base16-base07;
    }
  }
}
