.rst-content {

    /**
     * Headlines
     */
    h3 {
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    /**
     * Code
     */
    tt,
    code {
        font-family: $font-family-monospace;
        padding: .25em .5em;
        font-size: 75%;
        border-radius: $border-radius;
        background-color: theme-color('light');
        border: 1px solid theme-color-level('light', 1);
    }
    code {
        &.file {
            color: $code-color-file;
        }
        &.html {
            color: $code-color-html;
        }
        &.js {
            color: $code-color-js;
        }
        &.method {
            color: $code-color-method;
        }
        &.php {
            color: $code-color-php;
        }
        &.py {
            color: $code-color-py;
        }
        &.ts,
        &.typoscript {
            color: $code-color-ts;
        }
        &.yaml {
            color: $code-color-yaml;
        }
    }

    /**
     * Literals
     */
    .literal-block {
        background-color: theme-color('light');
        border-radius: $border-radius;
        padding: $spacer;
    }

    /**
     * Lists
     */
    .toctree-wrapper ul,
    .toctree-wrapper ol,
    ul.simple,
    ol.simple {
        li + li {
            margin-top: ($spacer * .5);
        }
    }
    // https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/91
    @media (min-width: 992px) {
        .compact-list > ul.simple,
        .compact-list > ol.simple,
        .toctree-wrapper.compact-list ul,
        .toctree-wrapper.compact-list ol,
        ul.simple.compact-list,
        ol.simple.compact-list {
            li + li {
                margin-top: 0;
            }
        }
    }

    /**
     * Keyboard Shortcuts
     */
    kbd {
        color: $body-color;
        background-color: theme-color('light');
        border: 1px solid theme-color-level('light', 2);
        box-shadow: $box-shadow-sm, inset 0 0 0 2px #ffffff;
    }

    /**
     * Version Modified
     */
    .versionmodified {
        background-color: hsl(26.5, 84.3%, 95%);
        border-radius: 3px;
        border: 1px solid hsl(26.5, 84.3%, 85%);
        color: $code-color-ts;
        font-style: italic;
        margin: 0 3px 0 0;
        padding: 0 2px;
    }

    /**
     * GUI-Label
     */
    .guilabel {
        font-size: 75%;
        padding: .25em .5em;
        background-color: theme-color-level('info', -8);
        color: theme-color-level('info', 8);
        border-radius: $border-radius;
    }

    /**
     * Images and objects
     */
    img,
    object {
        display: inline-block;
        max-width: 100%;
        height: auto;
        &.float-left {
            margin-right: $spacer;
            margin-bottom: $spacer;
        }
        &.float-right {
            margin-left: $spacer;
            margin-bottom: $spacer;
        }
    }
    .plantuml object {
        height: auto !important;
    }
    .figure,
    .figure > img,
    .figure > a > img {
        display: block;
        .caption {
            font-size: $font-size-sm;
        }
    }

    /**
     * Blockquote
     */
    blockquote {
        position: relative;
        padding: $card-spacer-y $card-spacer-x;
        padding-left: ($card-spacer-x + 2.5rem);
        border: $card-border-width solid $card-border-color;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow-sm;
        background: $card-bg;
        &:before {
            border-top-left-radius: $card-border-radius;
            border-bottom-left-radius: $card-border-radius;
            text-align: center;
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2.5rem;
            height: 100%;
            width: 2.5rem;
            color: $card-cap-color;
            background-color: $card-cap-bg;
            content: 'â';
        }
        .attribution {
            font-size: 92%;
            font-style: italic;
            text-align: right;
        }
        > div {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    /**
     * Definition Lists
     */
    dl {
        dd {
            margin: 0 0 $spacer ($spacer * 2);
        }
    }
    dl:not(.docutils) {
        margin-bottom: $spacer;
        dt {
            display: inline-block;
            font-size: 90%;
            padding: .25em .5em;
            margin-bottom: ($spacer / 2);
            position: relative;
            border-top: solid 3px theme-color('info');
            background-color: theme-color-level('info', -11);
            color: theme-color-level('info', 3);
        }
        dl dt {
            border-top: 2px solid theme-color-level('light', 3);
            background-color: theme-color('light');
            color: color-yiq(theme-color('light'));
        }
        tt,
        code {
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 100%;
        }
        .optional {
            padding: 0 .25em;
        }
        .headerlink,
        .optional {
            color: $body-color;
        }
        .viewcode-link {
            padding-left: 1em;
        }
    }
    dl.dl-parameters {
        dt {
            border-top: 2px solid theme-color-level('light', 3);
            background-color: theme-color-level('light', 1);
            color: color-yiq(theme-color-level('light', 1));
            font-weight: normal;
            padding: ($spacer / 2) $spacer;
            margin-left: ($spacer * 2);
        }
        dd {
            background-color: theme-color('light');
            color: color-yiq(theme-color('light'));
            padding: $spacer;
            margin-left: ($spacer * 2);
            *:last-child {
                margin-bottom: 0;
            }
            p.first {
                .sep {
                    opacity: .5;
                    margin: 0 .25em;
                    &:first-child,
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    blockquote dl.dl-parameters {
        dt,
        dd {
            margin-left: 0;
        }
    }
    .line-block > .line-block {
        margin-left: 1.75em;
    }

    /**
     * Index page "genindex.html"
     */
    div.genindex-jumpbox {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        margin: 1em 0;
        padding: .4em;
    }
    div.modindex-jumpbox {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        margin: 1em 0;
        padding: .4em;
    }
    table.indextable {
        width: 100%;
        td {
            text-align: left;
            vertical-align: top;
        }
        ul {
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        > tbody > tr > td > ul {
            padding-left: 0;
        }
        tr.pcap {
            height: 10px;
        }
        tr.cap {
            margin-top: 10px;
            background-color: transparent;
        }
    }
}
