.rst-content {

    /**
     * Headlines
     */
    h3 {
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    /**
     * Code
     */
    tt,
    code {
        font-family: $font-family-monospace;
        padding: .25em .5em;
        font-size: 75%;
        border-radius: $border-radius;
        background-color: theme-color('light');
        border: 1px solid theme-color-level('light', 1);
    }
    code {
        &.file {
            color: $code-color-file;
        }
        &.html {
            color: $code-color-html;
        }
        &.js {
            color: $code-color-js;
        }
        &.method {
            color: $code-color-method;
        }
        &.php {
            color: $code-color-php;
        }
        &.py {
            color: $code-color-py;
        }
        &.ts,
        &.typoscript {
            color: $code-color-ts;
        }
        &.yaml {
            color: $code-color-yaml;
        }
    }

    /**
     * Literals
     */
    .literal-block {
        background-color: theme-color('light');
        border-radius: $border-radius;
        padding: $spacer;
    }

    /**
     * Lists
     */
    .toctree-wrapper ul,
    .toctree-wrapper ol,
    ul.simple,
    ol.simple {
        li + li {
            margin-top: ($spacer * .5);
        }
    }

    /**
     * Keyboard Shortcuts
     */
    kbd {
        color: $body-color;
        background-color: theme-color('light');
        border: 1px solid theme-color-level('light', 2);
        box-shadow: $box-shadow-sm, inset 0 0 0 2px #ffffff;
    }

    /**
     * Version Modified
     */
    .versionmodified {
        font-style: italic;
    }

    /**
     * GUI-Label
     */
    .guilabel {
        font-size: 75%;
        padding: .25em .5em;
        background-color: theme-color-level('info', -8);
        color: theme-color-level('info', 8);
        border-radius: $border-radius;
    }

    /**
     * Images
     */
    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        &.float-left {
            margin-right: $spacer;
            margin-bottom: $spacer;
        }
        &.float-right {
            margin-left: $spacer;
            margin-bottom: $spacer;
        }
    }
    .section > img,
    .section > a > img,
    .figure img {
        margin-bottom: $spacer;
    }
    .figure {
        display: block;
        .caption {
            font-size: $font-size-sm;
            &:before {
                content: 'Figure: ';
            }
        }
    }

    /**
     * Blockquote
     */
    blockquote {
        margin-left: ($spacer * 2);
    }

    /**
     * Definition Lists
     */
    dl {
        dd {
            margin: 0 0 $spacer ($spacer * 2);
        }
    }
    dl:not(.docutils) {
        margin-bottom: $spacer;
        dt {
            display: inline-block;
            font-size: 90%;
            padding: .25em .5em;
            margin-bottom: ($spacer / 2);
            background: theme-color-level('info', -11);
            color: theme-color('info');
            border-top: solid 3px theme-color('info');
            position: relative;
        }
        tt,
        code {
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: inherit;
        }
        .optional {
            padding: 0 .25em;
        }
        .headerlink,
        .optional {
            color: $body-color;
        }
    }
    dl.dl-parameters {
        dt {
            border-top: 2px solid theme-color-level('light', 3);
            background-color: theme-color-level('light', 1);
            color: color-yiq(theme-color-level('light', 1));
            font-weight: normal;
            padding: ($spacer / 2) $spacer;
            margin-left: ($spacer * 2);
        }
        dd {
            background-color: theme-color('light');
            color: color-yiq(theme-color('light'));
            padding: $spacer;
            margin-left: ($spacer * 2);
            *:last-child {
                margin-bottom: 0;
            }
            p.first {
                .sep {
                    opacity: .5;
                    margin: 0 .25em;
                    &:first-child,
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    blockquote dl.dl-parameters {
        dt,
        dd {
            margin-left: 0;
        }
    }
}
