.t3-row {
    background-color: theme-color('light');
    border-top: 2px solid theme-color-level('light', 2);
    margin: $spacer 0;
    padding: 0;
    clear: both;
}
.t3-cell {
    width: auto;
    clear: both;
    border-bottom: 4px solid white;
    background-color: transparent;
    padding: ($spacer / 2) $spacer;
    > *:last-child {
        margin-bottom: 0;
    }
    .term {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $primary;
        margin-bottom: 0;
    }
}
.t3-cell-property,
.t3-cell-datatype,
.t3-cell-key,
.t3-cell-default {
    float: left;
    clear: none;
    font-weight: bold;
    min-width: 30%;
    border-right: 4px solid white;
}
