//
// Colors are matching Read the Docs
// DO NOT ADJUST
//
// Similar:
// - Admotion
// - Bignums
// - Horizontal Buttons
//
ul[class*="horizbuttons-"] {
    padding: 0;
    > li {
        line-height: 2em;
        border-radius: $border-radius;
        display: inline;
        padding: ($spacer / 4) ($spacer / 2);
        > a {
            color: inherit;
            font-weight: bold;
        }
    }
    &[class*="-xxxl"] {
        font-size: $h3-font-size;
    }
    &[class*="-xxl"] {
        font-size: $h4-font-size;
    }
    &[class*="-warning-"],
    &[class*="-attention-"] {
        > li {
            color: color-yiq(theme-color('warning'));
            background-color: theme-color('warning');
        }
    }
    &[class*="-tip-"],
    &[class*="-important-"] {
        > li {
            color: color-yiq(theme-color('success'));
            background-color: theme-color('success');
        }
    }
    &[class*="-note-"] {
        > li {
            color: color-yiq(theme-color('info'));
            background-color: theme-color('info');
        }
    }
    &[class*="-typo3-"],
    &[class*="-primary-"] {
        > li {
            color: color-yiq(theme-color('primary'));
            background-color: theme-color('primary');
        }
    }
    &[class*="-striking-"] {
        > li {
            color: color-yiq(theme-color('secondary'));
            background-color: theme-color('secondary');
        }
    }
}
