.toc {
    margin: $spacer 0;
    display: block;
    .caption {
        font-weight: bold;
        margin: 0;
    }
    a {
        position: relative;
        display: block;
        color: inherit;
        line-height: 1.25;
        padding: ($spacer / 4) 0;
        padding-right: 1.5em;
        text-decoration: none;
    }
    ul {
        padding-left: ($spacer * 1.5);
        list-style-type: none;
    }
    li {
        border-radius: $border-radius;
        overflow: hidden;
    }
    .toctree-expand {
        position: absolute;
        display: block;
        top: (($spacer / 4) + ($font-size-base * 1.25 / 2));
        right: 0;
        transform: translate(0, -50%);
        height: 1em;
        width: 1em;
        background-color: theme-color('light');
        border-radius: $border-radius;
        &:after,
        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
        }
        &:after {
            width: 10px;
            height: 0;
            border-top: 2px solid;
            transform: translate(-50%, -50%);
        }
        &:before {
            width: 0;
            height: 10px;
            border-left: 2px solid;
            transform: translate(-50%, -50%);
        }
    }
    .current > a {
        color: theme-color('primary');
        > .toctree-expand {
            background-color: theme-color('primary');
            color: color-yiq(theme-color('primary'));
            &:before {
                display: none;
            }
        }
    }
    > ul {
        padding-left: 0;
        .current {
            > ul {
                display: block !important;
            }
        }
        > li ul {
            display: none;
        }
    }
    > ul:not(:last-child) {
        padding-bottom: $spacer;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }
}
.toc-backref {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
