.sidebar {
    margin: 0;
    margin-bottom: $spacer;
    padding: $spacer;
    border-radius: $border-radius;
    overflow: hidden;
    background: theme-color-level('dark', -11);
    font-size: $font-size-sm;
    @include media-breakpoint-up(sm) {
        float: right;
        width: 18rem;
        margin-left: $spacer;
    }
    > .sidebar-title {
        font-weight: $font-weight-bold;
        color: color-yiq(theme-color('dark'));
        background-color: theme-color('dark');
        padding: ($spacer / 2) $spacer;
        margin: -$spacer;
        margin-bottom: $spacer;
    }
    img,
    p,
    ul,
    dl {
        margin-bottom: .5em;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
