//
// Panel
// --------------------------------------------------
.panel {
    background: $card-bg;
    box-shadow: $box-shadow-sm;
    border-radius: $card-border-radius;
    padding: $card-spacer-y $card-spacer-x;
    border: $card-border-width solid $card-border-color;
    overflow: hidden;
    > *:last-child {
        margin-bottom: 0;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        font-size: 1.15rem;
        padding: $card-spacer-y $card-spacer-x;
        margin: (-$card-spacer-y) (-$card-spacer-x);
        margin-bottom: $card-spacer-y;
        color: $card-cap-color;
        background-color: $card-cap-bg;
    }
}
