a {
	border-bottom: 2px solid;
	color: $link-color;
	border-color: $link-border-color;

    &:focus,
	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}

    &:active {
        color: $link-active-color;
		border-color: $link-border-active-color;
    }
}
