//
// Main
//
@include media-breakpoint-up('md') {
    .footer-main {
        margin: -($grid-gutter-width / 2);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-menu,
    .footer-contact {
        padding: ($grid-gutter-width / 2);
    }
}

//
// Menu
//
.footer-menu-group {
    &:last-child {
        .footer-menu-group-headline {
            margin: 0;
        }
    }
}
.footer-menu-group-headline {
    margin-top: 0;
    font-size: 1em;
}
.footer-menu-group-list {
    display: none;
    list-style: none;
    padding: 0;
    li {
        margin-top: .25em;
    }
}
.footer-menu-group-list-item-link {
    display: flex;
}
.footer-menu-group-list-item-icon {
    color: $primary;
    flex-shrink: 0;
    margin-right: .5em;
    height: 16px;
    width: 16px;
    margin-top: .2em;
    svg,
    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}
@include media-breakpoint-up('md') {
    .footer-menu {
        display: flex;
    }
    .footer-menu-group {
        margin-right: 2.5em;
        &:last-child {
            margin-right: 0;
        }
    }
    .footer-menu-group-headline {
        opacity: .75;
        margin-bottom: .5em !important;
        &:hover {
            opacity: 1;
        }
    }
    .footer-menu-group-list {
        display: block;
        margin: 0;
    }
}

//
// Simple Menu
//
.footer-simplemenu {
    text-align: center;
    list-style: none;
    padding-left: 0;
    @include media-breakpoint-up('sm') {
        margin-left: -.5em;
        margin-right: -.5em;
        > li {
            display: inline-block;
            padding-left: .5em;
            padding-right: .5em;
        }
    }
    .active a {
        font-weight: bold;
    }
}

//
// Meta
//
.footer-meta {
    text-align: center;
}
.footer-meta-copyright {
    margin-bottom: .5em;
}
.footer-meta-navigation {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    a {
        color: inherit;
        display: block;
    }
    li {
        display: inline-block;
        margin-left: .5em;
        margin-right: .5em;
    }
}
@include media-breakpoint-up('sm') {
    .footer-meta-copyright {
        display: inline-block;
        margin-bottom: 0;
    }
    .footer-meta-navigation {
        display: inline-block;
        li {
            display: inline-block;
            margin-right: 0;
        }
    }
}
