@font-face {
    font-family: "Apercu Pro";
    font-display: swap;
    src: url("../fonts/apercu/apercu-light-pro.woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Apercu Pro";
    font-display: swap;
    src: url("../fonts/apercu/apercu-regular-pro.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Apercu Pro";
    font-display: swap;
    src: url("../fonts/apercu/apercu-bold-pro.woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Apercu Pro";
    font-display: swap;
    src: url("../fonts/apercu/apercu-black-pro.woff2");
    font-weight: 900;
    font-style: normal;
}
