//
// Source Code Pro @font-face kit
//

// Edit in your files to override it
$SourceCodeProPath: "." !default;

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceCodePro-Regular'),
         local('Source Code Pro'),
         url('#{$SourceCodeProPath}/eot/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('#{$SourceCodeProPath}/woff/SourceCodePro-Regular.woff') format('woff'),
         url('#{$SourceCodeProPath}/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('#{$SourceCodeProPath}/ttf/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceCodePro-Bold'),
         local('Source Code Pro Bold'),
         url('#{$SourceCodeProPath}/eot/SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('#{$SourceCodeProPath}/woff/SourceCodePro-Bold.woff') format('woff'),
         url('#{$SourceCodeProPath}/OTF/SourceCodePro-Bold.otf') format('opentype'),
         url('#{$SourceCodeProPath}/ttf/SourceCodePro-Bold.ttf') format('truetype');
}
