
// In our theme maxwidth is much larger than the original ReadTheDocs theme.
// In the demo_docs we see that because of that 'sidebars' may slip side
// to side of each other. They are 40% wide and in that case there's
// only 20% left for normal content. So let's try to prevent that this by
// adding this 'clear'.

+media($desktop-wider)
  h1, h2
    clear: both

h1, h2, h3, h4, h5, h6, legend
  margin-top: 2.0em
  margin-bottom: 0.5em


// for the generic admonition

.admonition
  padding-left: $base-line-height / 2
  padding-right: $base-line-height / 2


#EditMeOnGitHub
  color: white
  background-color: $typo3-key-color
  display: block
  padding: 6px 10px
  border-radius: 15px

input
  &[type="text"]
    font-size: 100%

code
  background-color: lighten(#ffc800,47%)
  border-color: lighten(#ffc800,30%)
  &.file
    color: hsl(328, 100%, 50%)
    border: none
    background-color: inherit
    padding: 0
  &.html
    color: hsl(275, 100%, 40%)
    border: none
    background-color: inherit
    font-weight: normal
    padding: 0
  &.js
    color: hsl(128, 100%, 20%)
    border: none
    background-color: inherit
    font-weight: normal
    padding: 0
  &.method
    color: hsl(210, 100%, 35%)
    border: none
    background-color: inherit
    font-weight: bold
    padding: 0
  &.php
    color: hsl(210, 100%, 35%)
    border: none
    background-color: inherit
    font-weight: normal
    padding: 0
  &.py-class
    color: hsl(210, 100%, 50%)
    border: none
    background-color: inherit
    font-weight: bold
    padding: 0
  &.ts,
  &.typoscript
    color: hsl(12, 100%, 20%)
    border-color: hsl(12, 100%, 85%)
    background-color: inherit

em
  &.aspect
    background-color: inherit
    color: hsl(0, 50%, 50%)
    font-weight: normal
    font-style: italic


// give content in tables the freedom to wrap

.wy-table
  thead
    white-space: normal

.wy-table-responsive
  table
    td, th
      white-space: normal

.rst-content
  table.field-list
    td > strong,
    .field-name
      white-space: normal


// have a bottom margin after code blocks

div[class^='highlight']
  pre
    // margin-top: $base-line-height
    margin-bottom: $base-line-height


// captions of figures

.rst-content
  p.caption
    &::before
      content: "Figure: "
    font-size: 14px
    line-height: 18px
    width: 60%
    margin: 0
    padding: 0
    font-weight: normal
    font-style: normal
    color: #000
    .caption-text
      font-style: normal
      color: #000000

// field-list: move content to the top of the table cell

td.field-body
  p.first
    margin-top: 0

// well (like http://getbootstrap.com/components/#default-well)
// (experimental: it's unclear whether this is needed)

// .well
//   background-color: #f5f5f5
//   border: 1px solid #e3e3e3
//   border-radius: 4px
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
//   margin-bottom: 20px
//   min-height: 20px
//   padding: 19px
//   &.well-green
//     background-color: #def5dc // 115 10 96
//     border: 1px solid #cee3cc // 115 10 89


// panel (like http://getbootstrap.com/components/#panels)

.panel
  background-color: #ffffff
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 4px
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.00)
  margin-bottom: 20px

.panel-default
  & > *
    padding-left: 15px
    padding-right: 15px
  & > span
    padding: 0
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6
    background-color: #e8e8e8
    // color: #333333
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    margin: 0
    padding-top: 10px
    padding-bottom: 10px

.with-border
  border: 1px solid hsl(0, 0%, 85%)

.section
  .sitemap
    ul
      li
        margin-bottom: 0
        margin-top: 0
        background-color: hsl(0, 0%, 95%)
        li
          background-color: hsl(0, 0%, 90%)
          li
            background-color: hsl(0, 0%, 85%)
            li
              background-color: hsl(0, 0%, 80%)
              li
                background-color: hsl(0, 0%, 75%)
                li
                  background-color: hsl(0, 0%, 70%)
                  li
                    background-color: hsl(0, 0%, 65%)
                    li
                      background-color: hsl(0, 0%, 60%)



// implement class 'compactlist' to remove top- and bottom-margins
.rst-content
  .compactlist
    li
      margin-top: 0
      margin-bottom: 0

  .section
    ul.compactlist,
    ol.compactlist
      li
        margin-top: 0
        margin-bottom: 0