
// For demo purposes only - otherwise not used in the theme
//
// Here we list and name all our colors:
// - to have an overview in the editor
// - to be able to render a demo html page that shows all colors
//
.bg-typo3-key-color { background-color: $typo3-key-color !important; }
.bg-typo3-support-orange-dark { background-color: $typo3-support-orange-dark !important; }
.bg-typo3-support-orange-light { background-color: $typo3-support-orange-light !important; }
.bg-typo3-marker-orange { background-color: $typo3-marker-orange !important; }
.bg-typo3-dark-grey { background-color: $typo3-dark-grey !important; }
.bg-typo3-mid-grey { background-color: $typo3-mid-grey !important; }
.bg-typo3-light-grey { background-color: $typo3-light-grey !important; }
.bg-typo3-marker-grey { background-color: $typo3-marker-grey !important; }
.bg-typo3-message-valid { background-color: $typo3-message-valid !important; }
.bg-typo3-message-error { background-color: $typo3-message-error !important; }
.bg-typo3-message-warning { background-color: $typo3-message-warning !important; }
.bg-typo3-message-information { background-color: $typo3-message-information !important; }
.bg-black { background-color: $black !important; }
.bg-gray-darker { background-color: $gray-darker !important; }
.bg-gray-dark { background-color: $gray-dark !important; }
.bg-gray { background-color: $gray !important; }
.bg-gray-light { background-color: $gray-light !important; }
.bg-gray-lighter { background-color: $gray-lighter !important; }
.bg-white { background-color: $white !important; }
.bg-green { background-color: $green !important; }
.bg-offgreen { background-color: $offgreen !important; }
.bg-blue { background-color: $blue !important; }
.bg-purple { background-color: $purple !important; }
.bg-cobalt { background-color: $cobalt !important; }
.bg-yellow { background-color: $yellow !important; }
.bg-orange { background-color: $orange !important; }
.bg-red { background-color: $red !important; }
.bg-shell { background-color: $shell !important; }
.bg-text-color { background-color: $text-color !important; }
.bg-text-invert { background-color: $text-invert !important; }
.bg-text-code-color { background-color: $text-code-color !important; }
.bg-text-code-background-color { background-color: $text-code-background-color !important; }
.bg-text-code-border-color { background-color: $text-code-border-color !important; }
.bg-text-dark { background-color: $text-dark !important; }
.bg-text-medium { background-color: $text-medium !important; }
.bg-text-light { background-color: $text-light !important; }
.bg-text-lighter { background-color: $text-lighter !important; }
.bg-table-background-color { background-color: $table-background-color !important; }
.bg-table-border-color { background-color: $table-border-color !important; }
.bg-table-stripe-color { background-color: $table-stripe-color !important; }
.bg-table-bg-hover-color { background-color: $table-bg-hover-color !important; }
.bg-table-head-background-color { background-color: $table-head-background-color !important; }
.bg-input-text-color { background-color: $input-text-color !important; }
.bg-input-background-color { background-color: $input-background-color !important; }
.bg-input-border-color { background-color: $input-border-color !important; }
.bg-input-shadow-color { background-color: $input-shadow-color !important; }
.bg-input-focus-color { background-color: $input-focus-color !important; }
.bg-link-color { background-color: $link-color !important; }
.bg-link-color-visited { background-color: $link-color-visited !important; }
.bg-link-color-hover { background-color: $link-color-hover !important; }
.bg-link-color-alt { background-color: $link-color-alt !important; }
.bg-button-background-color { background-color: $button-background-color !important; }
.bg-button-neutral-background-color { background-color: $button-neutral-background-color !important; }
.bg-spinner-color { background-color: $spinner-color !important; }
.bg-menu-top-link-color { background-color: $menu-top-link-color !important; }
.bg-menu-background-color { background-color: $menu-background-color !important; }
.bg-menu-logo-color { background-color: $menu-logo-color !important; }
