// From the TYPO3 styleguide

$typo3-key-color:                     #ff8700; // hsl(32, 100%, 50%)
$typo3-support-orange-dark:           #e67a00;
$typo3-support-orange-light:          #ff9926;
$typo3-marker-orange:                 #ffd095;
$typo3-dark-grey:                     #515151;
$typo3-mid-grey:                      #8c8c8c;
$typo3-light-grey:                    #b9b9b9;
$typo3-marker-grey:                   #f4f4f4;

$typo3-message-valid:                 #37bd74;
$typo3-message-error:                 #ff304f;
$typo3-message-warning:               #ff9b37;
$typo3-message-information:           #27a2fc;

// Source Sans Pro for headings
// Source Sans Pro for subheadings
// Source Sans Pro Light for continuous text
// Source Sans Pro Bold for teasers and to highlight
// Source Sans Pro Italic for quotation
// Source Code Pro Bold for code
// Source Code Pro Regular for code

// Mathematics
$sqrt1: 1;
$sqrt2: 1.4142135;
$sqrt3: 1.7320508;
$sqrt4: 2;
$sqrt5: 2.2360679;
$sqrt6: 2.4494897;
$sqrt7: 2.6457513;
$sqrt8: 2.8284271;
$sqrt9: 3;

// Locations
$static-img:                          "img/";

// Colors
$background-color:                    #edf0f2;
$section-background-color:            hsl(0, 0%, 99%);
$dropdown-color:                      $section-background-color;
$dropdown-border-color:               darken($background-color, 10%);

$black:                               #000000;
$gray-darker:                         #222222;
$gray-dark:                           #333333;
$gray:                                #555555;
$gray-light:                          #999999;
$gray-lighter:                        #cccccc;
$gray-ultra-light:                    #eeeeee;
$white:                               #ffffff;

$green:                               hsl(145, 63%, 42%);  // #27AE60
$green:                               $typo3-message-valid;
$offgreen:                            hsl(168, 76%, 42%);  // #1ABC9C
$offgreen:                            $typo3-message-valid; // hsl(145, 63%, 42%)  // #27AE60
$blue:                                hsl(204, 64%, 44%);  // #2980B9
$blue:                                $typo3-message-information;
$purple:                              hsl(283, 39%, 53%);  // #9B59B6
$cobalt:                              hsl(210, 29%, 29%);  // #34495E
$yellow:                              hsl(48, 89%, 50%);  // #F1C40F
$yellow:                              $typo3-message-warning;
$orange:                              hsl(28, 80%, 52%);  // #E67E22
$red:                                 hsl(6, 78%, 57%);  // #E74C3C
$red:                                 $typo3-message-warning;
$shell:                               hsl(192, 15%, 94%);  // #ECF0F1

// Typography
$base-font-size:                      16px;
$base-font-family:                    "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-family-bold:               bold;
$base-line-height:                    24px;
$custom-font-family:                  "Source Sans Pro", Helvetica, Arial, sans-serif;
$custom-font-family2:                 Georgia, serif;
$code-font-family:                    "Source Code Pro", monospace;

$code-font-size:                      $base-font-size *14/16;
$code-line-height:                    1.3;

$icon-font-family:                    FontAwesome;
$text-color:                          hsl(0, 0%, 20%);
$text-invert:                         hsl(0, 0%, 100%);
$text-code-color:                     $red;
$text-code-background-color:          $white;
$text-code-border-color:              hsl(195, 7%, 75%);
$text-dark:                           lighten($text-color, 15%);
$text-medium:                         lighten($text-color, 25%);
$text-light:                          lighten($text-color, 45%);
$text-lighter:                        lighten($text-color, 60%);
$text-should-not-happen:              red;

// Tables
$table-background-color:              transparent;
$table-border-color:                  hsl(31, 15%, 85%);
$table-stripe-color:                  hsl(31, 35%, 92%);

$table-bg-hover-color:                hsl(0, 0%, 85%);
$table-head-background-color:         $table-border-color;
$table-font-size:                     100%;
$table-padding-size:                  $base-font-size/10*2 $base-font-size/10*5;

// Forms
$input-text-color:                    #cad2d3;
$input-background-color:              $white;
$input-border-color:                  #cccccc;
$input-shadow-color:                  #dddddd;
$input-focus-color:                   $gray-dark;

// Links
$link-color:                          darken($typo3-key-color, 8%);
$link-color-visited:                  $link-color;
$link-color-hover:                    $typo3-key-color;
$link-color-alt:                      #ff0000;

// Buttons
$button-background-color:             $green;
$button-neutral-background-color:     $table-stripe-color;

// Spinner
$spinner-color:                       $link-color;

// Menu
$menu-top-link-color:                 hsl(0, 0%, 95%);
$menu-background-color:               rgb(52, 49, 49);
$menu-logo-color:                     $typo3-key-color;
$nav-desktop-width:                   300px;
$nav-desktop-position:                left;

// In here are varibles used for sphinx_rtd_theme, they either add to or overwrite the default ones
// that are set in wyrm_core/wy_variables.sass. You'll find wyrm in node_modules if you're looking
// for a reference.

$font-awesome-dir:                    "../font/";
$SourceCodeProPath:                   "../fonts/SourceCodePro";
$SourceSansProPath:                   "../fonts/SourceSansPro";
$static-img:                          "../img/";

// 800px is set as default in _theme_layout.sass
$wy-nav-content-width:                1000px;

// Base 16 Scheme
$base16-base00: #212121;
$base16-base01: #2e3c43;
$base16-base02: #314549;
$base16-base03: #546e7a;
$base16-base04: #b2ccd6;
$base16-base05: #eeffff;
$base16-base06: #eeffff;
$base16-base07: #ffffff;
$base16-base08: #f07178;
$base16-base09: #f78c6c;
$base16-base0A: #ffcb6b;
$base16-base0B: #c3e88d;
$base16-base0C: #89ddff;
$base16-base0D: #82aaff;
$base16-base0E: #c792ea;
$base16-base0F: #ff5370;

// 2818-04-27
$dl-parameters-dd-aspect: #996833; // hsl(31  , 50%  , 40%  )
$dl-parameters-dd-bg:     #f9f2ec; // hsl(31  , 50%  , 95%  )
$dl-parameters-dd-bt:     white;
$dl-parameters-dd-sep:    #996833; // hsl(31  , 50%  , 40%  )
$dl-parameters-dt-bb:     white;
$dl-parameters-dt-bg:     #e8dcce; // hsl(31  , 36.6%, 86%  )
$dl-parameters-dt-bt:     #988d81; // hsl(31.3, 10%  , 55.1%)
$dl-parameters-dt-col:    #661400; // hsl(11.8, 100% , 20%  )
