@use 'sass:color';

// --------------------------------------------------
// Colors
// --------------------------------------------------

$white: #fff;
$gray-100: #f2f2f2;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #ababab;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #313131;
$gray-900: #212121;
$black: #000;

$teal: #007d7e;
$indigo: #2e1f5e;
$bright-green: #3beccd;
$bright-green-700: color.adjust($bright-green, $lightness: -15%);
$bright-green-900: color.adjust($bright-green, $lightness: -30%);

$primary: $indigo;
$success: #a456c9;
$info: $teal;
$warning: #2f128d;
$danger: #a72925;
$search: #ffe69c;

$link-color: $primary;
$link-border-color: $bright-green;
$link-hover-color: $bright-green-700;
$link-active-color: $bright-green-900;
$link-border-active-color: $bright-green-900;

$link-alternate-color: #fff;
$link-alternate-hover-color: color.adjust(
  $link-alternate-color,
  $lightness: -15%
);

$yiq-contrasted-threshold: 160;

$focus-outline: #1f7e9a;

// --------------------------------------------------
// Dark mode colors
// --------------------------------------------------

$darkmode-color: rgba(255, 255, 255, 0.8);
$darkmode-color-darker: rgba(255, 255, 255, 0.6);
$darkmode-bg: color.adjust($primary, $lightness: -15%);
$darkmode-bg-lighter: color.adjust($primary, $lightness: -10%);
$darkmode-danger: color.adjust($danger, $lightness: -25%);
$darkmode-info: color.adjust($info, $lightness: -15%);
$darkmode-success: color.adjust($success, $lightness: -30%);
$darkmode-warning: color.adjust($warning, $lightness: -18%);
$darkmode-code: #fe587c;

$table-dark-color: $darkmode-color;
$table-dark-bg: $darkmode-bg;

// --------------------------------------------------
// Code Colors
// --------------------------------------------------

$code-color: #d02040;
$code-color-file: hsl(328, 100%, 50%);
$code-color-html: hsl(275, 100%, 40%);
$code-color-js: hsl(128, 100%, 20%);
$code-color-method: hsl(210, 100%, 35%);
$code-color-php: hsl(210, 100%, 35%);
$code-color-py: hsl(210, 100%, 50%);
$code-color-ts: hsl(12, 100%, 20%);
$code-color-yaml: hsl(170, 80%, 30%);

// --------------------------------------------------
// Base 16 Color Scheme
// --------------------------------------------------

$base16-base00: #212121;
$base16-base01: #2e3c43;
$base16-base02: #314549;
$base16-base03: #546e7a;
$base16-base04: #b2ccd6;
$base16-base05: #eff;
$base16-base06: #eff;
$base16-base07: #fff;
$base16-base08: #f07178;
$base16-base09: #f78c6c;
$base16-base0A: #ffcb6b;
$base16-base0B: #c3e88d;
$base16-base0C: #89ddff;
$base16-base0D: #82aaff;
$base16-base0E: #c792ea;
$base16-base0F: #ff5370;

// --------------------------------------------------
// Fonts
// --------------------------------------------------

$font-family-sans-serif:
  // iOS Safari, macOS Safari, macOS Firefox
  '-apple-system',
  // macOS Chrome
  'BlinkMacSystemFont',
  // Windows - for all browsers on Windows 7+ (putting Segoe UI before system-ui ensures Segoe UI will be rendered for different languages)
  'Segoe UI',
  'system-ui',
  // Targets Android and newer Chrome OS. (If Roboto is installed on your windows computer Segoe UI will take precedence.)
  'Roboto',
  // A common fallback font for older macOS
  'Helvetica Neue',
  // Very old Windows versions (special shout-out to whoever is using windows 95)
  'Arial',
  // A last resort if all else fails, just give us something without serifs :)
  sans-serif,
  // All the emojis 👋🙂
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

$font-family-monospace:
  // iOS Safari, MacOS Safari
  'ui-monospace',
  'Menlo',
  'Monaco',
  // Windows,
  'Cascadia Mono',
  'Segoe UI Mono',
  // Linux
  'Roboto Mono',
  'Oxygen Mono',
  'Ubuntu Monospace',
  // Android
  'Source Code Pro',
  // Firefox
  'Fira Mono',
  // Last resort Android/others
  'Droid Sans Mono',
  'Courier New',
  monospace,
  // All the emojis 👋🙂
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

$font-weight-bold: 700;

$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;
$h5-font-size: 1em;
$h6-font-size: 0.85em;

$headings-font-weight: $font-weight-bold;
$headings-margin-bottom: 0.5em;

// --------------------------------------------------
// Sizes
// --------------------------------------------------

$size-base: 16px;
$size-1: $size-base * 0.25;
$size-2: $size-base * 0.5;
$size-3: $size-base * 0.75;
$size-4: $size-base;
$size-5: $size-base * 1.5;
$size-6: $size-base * 2;
$size-7: $size-base * 3;
$size-8: $size-base * 4;
$size-9: $size-base * 6;
$size-10: $size-base * 8;
$size-11: $size-base * 12;
$size-12: $size-base * 16;
$size-13: $size-base * 24;
$size-14: $size-base * 32;
$size-15: $size-base * 40;
$size-16: $size-base * 48;

// --------------------------------------------------
// Components
// --------------------------------------------------

$box-shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$breadcrumb-divider: '>';

// --------------------------------------------------
// Cards
// --------------------------------------------------

$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// --------------------------------------------------
// Grid
// --------------------------------------------------

$grid-gutter-width: 40px;

// --------------------------------------------------
// Breakpoints
// --------------------------------------------------

$medium-width: 768px;
