// colors
$text-color: #212121 !default;
$background-color: #f2f2f2 !default;

// fonts
$font-family-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

// spacing
$spacer: 1.25rem;

// Base 16 Scheme
$base16-base00: #212121;
$base16-base01: #2e3c43;
$base16-base02: #314549;
$base16-base03: #546e7a;
$base16-base04: #b2ccd6;
$base16-base05: #eeffff;
$base16-base06: #eeffff;
$base16-base07: #ffffff;
$base16-base08: #f07178;
$base16-base09: #f78c6c;
$base16-base0A: #ffcb6b;
$base16-base0B: #c3e88d;
$base16-base0C: #89ddff;
$base16-base0D: #82aaff;
$base16-base0E: #c792ea;
$base16-base0F: #ff5370;
