*.DS_Store
*.egg
*.egg-info
*.pyc
*.sass-cache
*GENERATED*
*NOT_VERSIONED*
.coverage
.eggs/
.idea
.ruby-version
.tox
/.conda-*
/.venv
/Pipfile*
/yarn-error.log
bower_components/
docs/_build
node_modules/
npm-debug.log
/.vscode

/build/*
!/build/.gitkeep
venv/
env/
.env/
.python-version

geckodriver.log
