*.DS_Store
*.egg
*.egg-info
*.pyc
.idea
.ruby-version
.tox
/.conda-*
/.venv
/Pipfile*
/yarn-error.log
bower_components/
dist/
docs/_build
node_modules/
npm-debug.log
/.vscode

/build/*
rtd-env/
venv/
env/
.env/
.python-version

geckodriver.log
