# Install package into itself.
-e .

# Install main requirements.
-r requirements.txt

# Development tooling
build
docutils
flake8
percy-selenium
pip
pytest
selenium
setuptools
twine
wheel
zest.releaser
