<div class="headings">
    <h1>h1 Title bold</h1>
    <h2>h2 Title bold</h2>
    <h3>h3 Title bold</h3>
    <h4>h4 Title bold</h4>
    <h5>h5 Title bold</h5>

<p>&nbsp;</p>
    <h1 class="chapter">h1 Title regular</h1>
    <h2 class="chapter">h2 Title regular</h2>
    <h3 class="chapter">h3 Title regular</h3>
    <h4 class="chapter">h4 Title regular</h4>
    <h5 class="chapter">h5 Title regular</h5>
</div>