&lt;div class=&quot;radiobuttons&quot;&gt;
&lt;form action=&quot;#&quot;&gt;
    &lt;fieldset class=&quot;options&quot;&gt;
        &lt;legend&gt;Radio&lt;/legend&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;label for=&quot;radio1&quot;&gt;&lt;input id=&quot;radio1&quot; name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot; checked=&quot;checked&quot;&gt; Option 1&lt;/label&gt;&lt;/li&gt;
            &lt;li&gt;&lt;label for=&quot;radio2&quot;&gt;&lt;input id=&quot;radio2&quot; name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot;&gt; Option 2&lt;/label&gt;&lt;/li&gt;
            &lt;li&gt;&lt;label for=&quot;radio3&quot;&gt;&lt;input id=&quot;radio3&quot; name=&quot;radio&quot; type=&quot;radio&quot; class=&quot;radio&quot;&gt; Option 3&lt;/label&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
&lt;/div&gt;