<ul class="icons inline-list">
    <li class="fa fa-glass"></li>
    <li class="fa fa-apple"></li>
	<li class="fa fa-twitter"></li>
	<li class="fa fa-facebook"></li>
	<li class="fa fa-stumbleupon"></li>
	<li class="fa fa-linkedin"></li>
	<li class="fa fa-google-plus"></li>
	<li class="fa fa-youtube"></li>
	<li class="fa fa-search"></li>
	<li class="fa fa-play"></li>
</ul>
<p>&nbsp;</p>
<ul class="icons inline-list negative">
    <li class="fa fa-glass"></li>
    <li class="fa fa-apple"></li>
	<li class="fa fa-twitter"></li>
	<li class="fa fa-facebook"></li>
	<li class="fa fa-stumbleupon"></li>
	<li class="fa fa-linkedin"></li>
	<li class="fa fa-google-plus"></li>
	<li class="fa fa-youtube"></li>
	<li class="fa fa-search"></li>
	<li class="fa fa-play"></li>
</ul>