<div class="favicon typo3">
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_favicon.ico" width="16"/>
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_57x57.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_72x72.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_76x76.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_114x114.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_120x120.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_144x144.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_pos_152x152.png" />
</div>
<div>
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_favicon.ico" width="16"/>
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_57x57.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_72x72.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_76x76.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_114x114.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_120x120.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_144x144.png" />
<img src="../../images/favicon/typo3/TYPO3_CMS_neg_152x152.png" />
</div>