<div class="logos">
<a href="{{ url }}"><img src="../../images/TYPO3/DOS/01_T3CMS_classic.png" class="logo" alt="TYPO3 Logo" title="TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DOS/02_T3CMS_black.png" class="logo" alt="TYPO3 Logo" title="TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DOS/03_T3CMS_grey.png" class="logo" alt="TYPO3 Logo" title="TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DOS/04_T3CMS_white_keycolor.png" class="logo" alt="TYPO3 Logo" title="TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DOS/05_T3CMS_white_black.png" class="logo" alt="TYPO3 Logo" title="TYPO3 Logo" /></a>
</div>