<div class="logodonts">
<a href="{{ url }}"><img src="../../images/TYPO3/DONTS/01_T3CMS_dont.png" class="logo" alt="Don't do this to the TYPO3 Logo" title="Don't do this to the TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DONTS/02_T3CMS_dont.png" class="logo" alt="Don't do this to the TYPO3 Logo" title="Don't do this to the TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DONTS/03_T3CMS_dont.png" class="logo" alt="Don't do this to the TYPO3 Logo" title="Don't do this to the TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DONTS/04_T3CMS_dont.png" class="logo" alt="Don't do this to the TYPO3 Logo" title="Don't do this to the TYPO3 Logo" /></a>
<a href="{{ url }}"><img src="../../images/TYPO3/DONTS/05_T3CMS_dont.png" class="logo" alt="Don't do this to the TYPO3 Logo" title="Don't do this to the TYPO3 Logo" /></a>
</div>