&lt;div class=&quot;headings&quot;&gt;
    &lt;h1&gt;h1 Title bold&lt;/h1&gt;
    &lt;h2&gt;h2 Title bold&lt;/h2&gt;
    &lt;h3&gt;h3 Title bold&lt;/h3&gt;
    &lt;h4&gt;h4 Title bold&lt;/h4&gt;
    &lt;h5&gt;h5 Title bold&lt;/h5&gt;

&lt;p&gt;&amp;nbsp;&lt;/p&gt;
    &lt;h1 class=&quot;chapter&quot;&gt;h1 Title regular&lt;/h1&gt;
    &lt;h2 class=&quot;chapter&quot;&gt;h2 Title regular&lt;/h2&gt;
    &lt;h3 class=&quot;chapter&quot;&gt;h3 Title regular&lt;/h3&gt;
    &lt;h4 class=&quot;chapter&quot;&gt;h4 Title regular&lt;/h4&gt;
    &lt;h5 class=&quot;chapter&quot;&gt;h5 Title regular&lt;/h5&gt;
&lt;/div&gt;