&lt;figure class=&quot;figured&quot;&gt;
	{{&gt; atoms-landscape-4x3 }}
	&lt;figcaption&gt;This is an example of an image with a caption. Photo captions, also known as cutlines, are a few lines of text used to explain or elaborate on published photographs.&lt;/figcaption&gt;
&lt;/figure&gt;