&lt;div class=&quot;buttons&quot;&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;typo3 btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;typo3 btn alt&quot;&gt;Alternate Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;typo3 btn disabled&quot;&gt;Disabled Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;typo3 text-btn&quot;&gt;Text Button&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;