&lt;ul class=&quot;icons inline-list&quot;&gt;
    &lt;li class=&quot;fa fa-glass&quot;&gt;&lt;/li&gt;
    &lt;li class=&quot;fa fa-apple&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-facebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-stumbleupon&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-linkedin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-google-plus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-youtube&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-play&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;ul class=&quot;icons inline-list negative&quot;&gt;
    &lt;li class=&quot;fa fa-glass&quot;&gt;&lt;/li&gt;
    &lt;li class=&quot;fa fa-apple&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-facebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-stumbleupon&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-linkedin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-google-plus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-youtube&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;fa fa-play&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;