&lt;div class=&quot;fonts&quot;&gt;
&lt;p&gt;Primary font: &quot;Source Sans Pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;Source Sans Pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;Source Sans Pro&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;/div&gt;