<div class="buttons">
<p><a href="#" class="typo3 btn">Button</a></p>
<p><a href="#" class="typo3 btn alt">Alternate Button</a></p>
<p><a href="#" class="typo3 btn disabled">Disabled Button</a></p>
<p><a href="#" class="typo3 text-btn">Text Button</a></p>
</div>