<ul class="sg-colors typo3-colors">
	<li>
		<span class="sg-swatch" style="background: #ff8700;"></span>
		<span class="sg-label">TYPO3 Key Color</span>
		<span class="sg-label">Hex: #ff8700</span>
		<span class="sg-label">RGB: 255/135/0</span>
		<span class="sg-label">CMYK: 0/56/100/0</span>
		<span class="sg-label">Pantone: Orange 021C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff9f33;"></span>
		<span class="sg-label">Support Orange light</span>
		<span class="sg-label">Hex: #ff9f33</span>
		<span class="sg-label">RGB: 255/153/38</span>
		<span class="sg-label">CMYK: 0/40/85/0</span>
	</li>
	<li>
    		<span class="sg-swatch" style="background: #e67a00;"></span>
    		<span class="sg-label">Support Orange dark</span>
    		<span class="sg-label">Hex: #e67a00</span>
    		<span class="sg-label">RGB: 230/122/0</span>
    		<span class="sg-label">CMYK: 0/47/100/10</span>
    </li>
    <li>
       		<span class="sg-swatch" style="background: #ffd095;"></span>
      		<span class="sg-label">Marker Orange </span>
       		<span class="sg-label">Hex: #ffd095</span>
       		<span class="sg-label">RGB: 255/208/149</span>
       		<span class="sg-label">CMYK: 0/23/46/10</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">White</span>
		<span class="sg-label">Hex: #ffffff</span>
		<span class="sg-label">RGB: 255/255/255</span>
		<span class="sg-label">CMYK: 0/0/0/0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f4f4f4;"></span>
		<span class="sg-label">Grey superlight</span>
		<span class="sg-label">Hex: #f4f4f4</span>
		<span class="sg-label">RGB: 244/244/244</span>
		<span class="sg-label">CMYK: 0/0/0/8</span>
		<span class="sg-label"></span>
	</li>
    	<li>
		<span class="sg-swatch" style="background: #b9b9b9;"></span>
		<span class="sg-label">Grey light</span>
		<span class="sg-label">Hex: #b9b9b9</span>
		<span class="sg-label">RGB: 185/185/185</span>
		<span class="sg-label">CMYK: 0/0/0/27</span>
		<span class="sg-label">Pantone: Cool Gray 5</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #8c8c8c;"></span>
		<span class="sg-label">Grey medium</span>
		<span class="sg-label">Hex: #8c8c8c</span>
		<span class="sg-label">RGB: 140/140/140</span>
		<span class="sg-label">CMYK: 0/0/0/45</span>
		<span class="sg-label">Pantone: Cool Gray 8</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #515151;"></span>
		<span class="sg-label">Grey dark</span>
		<span class="sg-label">Hex: #515151</span>
		<span class="sg-label">RGB: 81/81/81</span>
		<span class="sg-label">CMYK: 0/0/0/68</span>
		<span class="sg-label">Pantone: Cool Gray 11</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">Black</span>
		<span class="sg-label">Hex: #000000</span>
		<span class="sg-label">RGB: 0/0/0</span>
		<span class="sg-label">CMYK: 0/0/0/100</span>
		<span class="sg-label">Pantone: Black C</span>
	</li>
</ul>