<ul class="sg-colors message-colors">
	<li>
		<span class="sg-swatch" style="background:#5abc55;"></span>
		<span class="sg-label">Valid Message green</span>
		<span class="sg-label">Hex: #5abc55</span>
		<span class="sg-label">RGB: 90/188/85</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffc800;"></span>
		<span class="sg-label">Warning Message yellow</span>
		<span class="sg-label">Hex: #ffc800</span>
		<span class="sg-label">RGB: 255/2000/0</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #dd123d;"></span>
		<span class="sg-label">Error Message red</span>
		<span class="sg-label">Hex: #dd123d</span>
		<span class="sg-label">RGB: 221/18/61</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #0080ff;"></span>
		<span class="sg-label">Information Message blue</span>
		<span class="sg-label">Hex: #0080ff</span>
		<span class="sg-label">RGB: 0/128/255</span>
	</li>
</ul>