<div class="fonts">
<p>Primary font: "Source Sans Pro", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "Source Sans Pro", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "Source Sans Pro", "Helvetica", "Arial", sans-serif;</strong></p>
</div>