&lt;img src=&quot;{{img.avatar.src}}&quot; alt=&quot;Avatar&quot; class=&quot;avatar&quot; /&gt;
&lt;img src=&quot;{{img.avatar-neutral.src}}&quot; alt=&quot;Avatar&quot; class=&quot;avatar&quot; /&gt;